@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant light (&:is(.light *));

:root {
  --background: #ffffff;
  --foreground: #191a19;
  --card: #ffffff;
  --card-foreground: #191a19;
  --popover: #ffffff;
  --popover-foreground: #191a19;
  --primary: #28a745;
  --primary-foreground: #ffffff;
  --secondary: #ffffff;
  --secondary-foreground: #28a745;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --accent: #f5f5f5;
  --accent-foreground: #191a19;
  --destructive: #001ccf;
  --destructive-foreground: #ffffff;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #a1a1a1;
  --chart-1: #c5ff92;
  --chart-2: #81f63a;
  --chart-3: #63ef25;
  --chart-4: #4eda1a;
  --chart-5: #3fad1f;
  --sidebar: #fafafa;
  --sidebar-foreground: #191a19;
  --sidebar-primary: #191a19;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #191a19;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Inter, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #191a19;
  --foreground: #fafafa;
  --card: #191a19;
  --card-foreground: #fafafa;
  --popover: #262626;
  --popover-foreground: #fafafa;
  --primary: #a74528;
  --primary-foreground: #ffffff;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #404040;
  --accent-foreground: #fafafa;
  --destructive: #6568ff;
  --destructive-foreground: #fafafa;
  --border: #282828;
  --input: #343434;
  --ring: #737373;
  --chart-1: #c5ff92;
  --chart-2: #81f63a;
  --chart-3: #63ef25;
  --chart-4: #4eda1a;
  --chart-5: #3fad1f;
  --sidebar: #191a19;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #47e614;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #282828;
  --sidebar-ring: #525252;
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Inter, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
}

.container {
  width: 100%;
  max-width: 1470px;
  padding: 0 130px;
  margin: 0 auto;
}

.menuLink {
  position: relative;
}

.menuLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  height: 3px;
  background-color: #28a745; /* bg-red-600 */
  transition: all linear 0.3s;
}

.menuLink:hover::after {
  width: 100%;
}

.banner_img {
  position: relative;
}

.banner_img::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.75) 10%,
    rgba(255, 255, 255, 0.7) 35%,
    rgba(255, 255, 255, 0.4) 55%,
    rgba(255, 255, 255, 0.15) 70%,
    rgba(255, 255, 255, 0) 85%
  );
}

.title_underline {
  width: 160px;
  height: 1px;
  background: #dddddd;
  position: relative;
  margin-bottom: 24px;
}

.title_underline::after {
  content: "";
  position: absolute;
  top: -2px;
  width: 60px;
  height: 3px;
  background: #28a745;
}

.title_center_underline {
  width: 160px;
  height: 1px;
  background: #dddddd;
  position: relative;
  margin-bottom: 24px;
}

.title_center_underline::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background: #28a745;
}

.solidButton {
  @apply bg-primary text-white relative overflow-hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.solidButton::after {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease-in-out;
}

.solidButton:hover::after,
.solidButton2:hover::after {
  width: 100%;
}

.solidButton2:hover {
  @apply text-black;
}

.solidButton2 {
  @apply bg-black text-white relative overflow-hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.solidButton2::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease-in-out;
}

.welcome_section {
  background-image: url("/welcome_bg.jpg");
  background-size: cover;
  background-position: center bottom; /* ✅ Important */
  background-repeat: no-repeat;
  width: 100%;
}
